$primary-color: rgb(0, 113, 220);
$primary-lite-color:#338DE3;
$primary-color-300:#54A0E8;
$primary-color-500:#0071DC;
$primary-color-30:#B0D3F4;
$primary-color-200: #8ABEEF;
$lite-color:#F5F7FD;
$lite-color-500:#F2F2F2;
$white-color:#FFFFFF;
$grey-color:#808080;
$grey-color-30:#4C4C4D;
$grey-lite-color:#D8D8D8;
$black-color:#000;
$black-color-500:rgb(46, 46, 46);
$black-color-500-5:rgba(46, 46, 46, 0.7);
$yellow-color:rgb(255, 194, 33);
$bg-color: #fff;
$second-bg-color: #f5f7fd;
$light-color: #e6f1fc;
$main-white: #fff;
$grey-color: #808080;
$grey-color-100: #D8D8D8;
$grey-color-500: #F2F2F2;
$yellow-color: #FFC221;
$light-blue: rgb(176, 211, 244);
$primary-shadow-color:rgba(0, 113, 220, 0.10);
$default-span-font-size: 1rem;
$default-p-font-size: 1rem;
$default-h1-font-size: 2.5rem;
$default-h2-font-size: 2rem;
$default-h3-font-size: 1.8rem;
$default-h4-font-size: 1.6rem;
$default-h5-font-size: 1.4rem;
$default-h6-font-size: 1.2rem;
$main-transition: 0.3s linear;
$main-box-shadow: 4px 4px 16px 0px rgba(0, 113, 220, 0.10);
$main-border: 1px solid $grey-color-500;
$warning-color: #F05866;
$warning-color-100: #EC454F;
